.texto {
    height: 90%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.caixa {
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color: #333;
    font-size: 20px;
    overflow-x: hidden;

}