.caixa {
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color: #333;
    font-size: 20px;
    overflow-x: hidden;

}

.online {
    display: flex;
    padding: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;

}

.texto {
    height: 90%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

p {
    display: flex;
    color: #FFFFFF;

}

article {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%;

}